.block_clipboard h5 .spinner {
    vertical-align: baseline;
    margin-left: 2px;
}
.block_clipboard .block_navigation .block_tree .tree_item.branch {
    cursor: default;
}
.block_clipboard .block_navigation .block_tree .tree_item.leaf {
    cursor: move;
}
.block_clipboard .block_navigation .block_tree .tree_item.leaf a {
    cursor: pointer;
}
.block_clipboard .block_navigation .block_tree .tree_item.leaf .actions {
    margin-left: 5px;
}
