<div class="block_navigation">
  <ul class="block_tree list">
  {{#courses}}
    <li class="type_course depth_1">
      <p class="tree_item branch"><a href="{{config.wwwroot}}/course/view.php?id={{id}}">{{shortname}}</a></p>
      <ul>
      {{#activities}}
        <li class="type_activity depth_2 item_with_icon" data-cmid="{{id}}">
          <p class="tree_item leaf hasicon">
            <img src="{{iconurl}}" alt="" class="smallicon navicon" />
            <span class="item-content-wrap">{{name}}</span>
            <span class="actions">
              <a href="{{config.wwwroot}}/blocks/clipboard/mod.php?sesskey={{config.sesskey}}&delete={{id}}" data-action="delete">{{#pix}}t/delete,moodle,{{#str}}deletefromclipboard, block_clipboard{{/str}}{{/pix}}</a>
            </span>
          </p>
        </li>
      {{/activities}}
      </ul>
    <li>
  {{/courses}}
  </ul>
</div>
