<div class="block_navigation">
  <ul class="block_tree list">
  {{#courses}}
    <li class="type_course depth_1">
      <p class="tree_item branch"><a href="{{viewurl}}">{{shortname}}</a></p>
      <ul>
      {{#activities}}
        <li class="type_activity depth_2 item_with_icon starred-{{id}}">
          <p class="tree_item leaf hasicon">
            <img src="{{iconurl}}" alt="" class="smallicon navicon" />
            <span class="item-content-wrap">{{content}}</span>
          </p>
        </li>
      {{/activities}}
      </ul>
    <li>
  {{/courses}}
  </ul>
</div>
